.indexDiv {
    display: inline-block;
    padding: 20px;
    font-size: 15px;
    width: auto;
    border: black 2px;
    border-style: solid;
    background: rgba(999, 999, 999, 0.5);
    justify-self: top;
}

.container {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

#menuDiv {
    position: sticky;
    top: 0;
    background: rgba(202, 202, 230, 0.83);
    width: inherit;
    font-weight: bold;
}

.content {
    background-color: rgba(135, 172, 237, 0.659);
    padding: 20px;
    width: 100%;
}

.content-odd {
    background-color: rgb(255, 255, 255);
}

h2,
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p,
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 20px;
}

.showcaseDiv {
    display: inline-block;
    height: auto;
    padding: 15px;
    font-size: 15px;
    width: auto;
    border: black 2px;
    border-style: solid;
}

img {
    display: block;
    float: bottom;
    height: 150px;
    width: 200px;
    position: relative;
    left: 5px;
    top: 5px;
    border: 0.5px solid black;
}